body{
    background-color: aquamarine;
}

outer-1 {
    background-color:rgb(24, 93, 48);
    width:400px; /* You can define it by % also */
    height:400px; /* You can define it by % also*/
    position:relative;
    border:1px solid black;
    border-radius: 50%;
    }
    .inner-1 {
    background-color:rgb(28, 104, 28);
     top: 10%; left:10%; /* of the container */
    width:80%; /* of the outer-1 */
    height:80%; /* of the outer-1 */
    position: absolute;
    
    border-radius: 50%;
    }
    .inner-2 {
    background-color:aquamarine;
     top: 20%; left:20%; /* of the container */
    width:60%; /* of the inner-1 */
    height:60%; /* of the inner-1 */
    position: absolute;
    
    border-radius:50%;
    }
    

